Babel==2.0
Django==1.7.2
RPi.GPIO==0.5.11
amqp==1.4.6
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.20
celery==3.1.18
certifi==2015.04.28
distribute==0.6.24
django-celery==3.1.16
django-redis-cache==1.6.0
flower==0.8.3
futures==3.0.3
gunicorn==19.3.0
kombu==3.0.26
pygame==1.9.1release
pytz==2015.4
redis==2.10.3
tornado==4.2.1
wsgiref==0.1.2
